@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clock {
    position: absolute;
    top: 15%;
    left: 35%;
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://antonaniskovich.ru/filearticle/chasy-na-javascript/file/clock.png"),
                url("https://se.ifmo.ru/o/helios-theme/images/cs_logo.png") no-repeat center,
                radial-gradient(circle, rgb(37, 73, 90) 0%, rgb(25, 48, 60) 11%, #1d1d1d 38%);
    background-size: cover, 25% 25%, cover;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 50%;
    transition: 0.5s
}

.clock:hover {
    box-shadow: 0 0 40px 5px #f41c52;
}

.clock:before{
    content: '';
    position: absolute;
    width: 1vw;
    height: 1vw;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 999;
}

.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}

.clock .hour, .hr{
    width: 16vw;
    height: 16vw;
    transition: 0.5s;
}
.clock .min, .mn{
    width: 20vw;
    height: 20vw;
    transition: 0.4s;
}
.clock .sec, .sc{
    width: 24vw;
    height: 24vw;
    transition: 0.3s;
}

.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before{
    content: '';
    position: absolute;
    width: 0.5vw;
    height: 8vw;
    background-color: #ffc600;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before{
    content: '';
    position: absolute;
    width: 0.3vw;
    height: 10vw;
    background-color: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before{
    content: '';
    position: absolute;
    width: 0.2vw;
    height: 12vw;
    background-color: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}