@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

header {
    background: rgba(24, 24, 24, 0.83);
    font-family: 'ZCOOL KuaiLe', 'Times New Roman', serif;
    color: white;
    height: 75px;
    font-size: 75px;
    text-align: left;
    transition: 0.8s;
}

header:hover {
    transform: scale(1.08);
    box-shadow: 0 0 40px 5px #f41c52;
}