@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

header {
    background: rgba(24, 24, 24, 0.83);
    font-family: 'ZCOOL KuaiLe', 'Times New Roman', serif;
    color: white;
    height: 76px;
    font-size: 76px;
    text-align: left;
    transition: 0.8s;
    z-index: 0;
}