@import url('https://fonts.googleapis.com/css?family=Orbitron');

.timer {
    position: absolute;
    top: 38vw;
    font-family: 'Orbitron', sans-serif;
    font-size: 56px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 40%;
    left: 30%;
}